<launch>
    <arg name="rviz" default="true" />

<!--    <node pkg="lidar_directional_slam" type="LidarOdometry" name="LidarOdometry" output="screen"/>-->
    <node pkg="lidar_directional_slam" type="LidarMapping" name="LidarMapping" output="screen"/>

    <!-- parameters -->
    <rosparam file = "$(find lidar_directional_slam)/config/parameters.yaml"/>

    <param name="use_sim_time" value="true" />

    <group ns="LidarMapping">
        <!-- libpointmatcher -->
        <param name = "inputfilter" value = "$(find lidar_directional_slam)/config/input_filter.yaml" />
        <param name = "premappingfilter" value = "$(find lidar_directional_slam)/config/prefilter.yaml" />
        <param name = "postmappingfilter" value = "$(find lidar_directional_slam)/config/postfilter.yaml" />
        <param name = "icp_map" value = "$(find lidar_directional_slam)/config/icp_map.yaml" />
        <param name = "icp_odom" value = "$(find lidar_directional_slam)/config/icp_odom.yaml" />
    </group>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_directional_slam)/rviz/mapping.rviz"/>
    </group>

</launch>
